/* 
Estilização nada extravagante => Clareza > firula 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px; /* Margem ao redor do corpo */
    background-color: #f4f4f4; /* Cor de fundo cinza claro */
}

h1 {
    text-align: center;
    color: #c42626;   /* Cor do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

form{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 50%; /* Largura do formulário - metade da página */
    align-items: center; /* Alinha os itens do formulário ao centro */
    margin: 0 auto; /* Centraliza o formulário */
    justify-content: center; /* Centraliza o conteúdo do formulário */
    
    
    /* display: flex; /* Adiciona flexbox ao formulário */
    /* flex-direction: column; /* Alinha os itens em coluna */
    
}

input{
    margin-bottom: 10px; /* Espaçamento abaixo dos campos de entrada */
    width: 100%; /* Largura total dos campos de entrada */
    padding: 10px; /* Espaçamento interno dos campos de entrada */
    border: 1px solid #ccc; /* Borda dos campos de entrada */
    border-radius: 4px; /* Bordas arredondadas dos campos de entrada */
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Sombra interna dos campos de entrada */ 
    /* inset para criar um efeito de profundidade */

}
