<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de KM</title> <!-- Título da página / importante para SEO -->
</head>
<body>
    <head> 
      <title>Controle de KM</title>  
      <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <h1>Registro Diário</h1>

        <form action="#" method="post">
            <label>Data:</label>
            <input type="date" name="data"><br>

            <label>KM Inicial:</label>
            <input type="number" name="km_inicial"><br>

            <label>KM Final:</label>
            <input type="number" name="KM_final"><br>

            <label for="">Litros Abastecidos: </label>
            <input type="numer" step="0.01" name="litros"><br>

            <label for="">Valor Gastos:</label>
            <input type="number" step="0.01" name="valor_gastos"><br>

            <button>
                Registrar
            </button>
        </form>
        
    </body>

</body>
</html>